<dgk-layout fxFill>
  <dgk-sidenav [open]="showSidenav$ | async">
    <dgk-nav-item
      (navigate)="closeSidenav()"
      *ngIf="(loggedIn$ | async)"
      routerLink="/shops"
      icon=""
      hint="Product list"
    >
      Shops
    </dgk-nav-item>
    <dgk-nav-item
      (navigate)="closeSidenav()"
      *ngIf="(loggedIn$ | async)"
      routerLink="/account"
      icon=""
      hint="">
      My account
    </dgk-nav-item>
    <dgk-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)">
      Sign In
    </dgk-nav-item>
    <dgk-nav-item (navigate)="logout()" *ngIf="(loggedIn$ | async)">
      Sign Out
    </dgk-nav-item>
  </dgk-sidenav>
  <dgk-toolbar (openMenu)="openSidenav()">Book Collection</dgk-toolbar>

  <router-outlet></router-outlet>
</dgk-layout>
